/* set the padding for the about section */
#about {
	padding: 5rem 0;
	color: #ababab;
}

/* set the margin and font size for the header text */
.header-text {
	margin-top: 4rem;
	font-size: 3rem;
}

/* set the margin, font size and font weight for the h1 tag inside the header text */
.header-text h1 {
	margin-top: 2rem;
	font-size: 4rem;
}

/* set the color for the span tag inside the header text */
.header-text span {
	color: #25be58;
}

/* set the display property and justification for the row */
.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* set the width for the first column of the about section */
.about-col-1 {
	flex-basis: 35%;
}

/* set the width and border radius for the image inside the first column of the about section */
.about-col-1 img {
	width: 100%;
	border-radius: 10px;
}

/* set the width and font size for the second column of the about section */
.about-col-2 {
	flex-basis: 60%;
	font-size: 1.5rem;
}

/* set the font size, font weight and color for the sub-title */
.sub-title {
	font-size: 4rem;
	font-weight: 600;
	color: #080808;
}
